.map__image {
  width: 984px;
  height: 554px;
  object-fit: cover;
  margin-bottom: 7px;
  position: relative;
}

@media (max-width: 1279px) {
  .map__image {
    width: 928px;
  }
}

@media (max-width: 1023px) {
  .map__image {
    height: 420px;
    width: 768px;
  }
}

@media (max-width: 767px) {
  .map__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: 211px;
  }
}
