.place__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.66;
}

.place__text:not(:last-child) {
  margin-bottom: 26px;
}

@media (max-width: 1023px) {
  .place__text {
    font-size: 16px;
  }
  .place__text:not(:last-child) {
    margin-bottom: 23px;
  }
}
