.content__section {
  margin: 0 auto 102px;
}

@media (max-width: 1279px) {
  .content__section {
    margin-bottom: 115px;
  }
}

@media (max-width: 1023px) {
  .content__section {
    margin-bottom: 103px;
  }
}

@media (max-width: 767px) {
  .content__section {
    margin-bottom: 57px;
  }
}
