.map__svg {
  width: 96%;
  position: absolute;
  top: 22%;
  left: 2%;
  transition: .3s;
}

@media (min-width: 1024px) {
  .map__svg:hover {
    transform: scale(1.13);
  }
}

@media (min-width: 1280px) {
  .map__svg:hover {
    transform: scale(1.3);
  }
}

