.comments__author {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 900;
}

@media (max-width: 1023px) {
  .comments__author {
    align-self: center;
    order: 2;
    margin: 10px 0 20px;
  }
}
