.intro__title {
  margin: 0 0 33px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.09;
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
  }
}

@media (max-width: 424px) {
  .intro__title {
    max-width: 240px;
  }
}
